.Shift{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}
.Shift1{
    /* margin: auto; */
    margin-left: 150px;
    /* margin-right: 50px; */
align-items: center;
    width: 50%;
    /* border: 3px solid green; */
    padding: 10px;
}
.Shift2{
    /* margin: auto; */
    margin-left: 150px;
align-items: center;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}
